<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>KB-BANK</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="PageContainer">
            <a id="btnMenuAdmin" href="/admin">Admin</a>
            <div id="navBarMenu">
                <% const navigationLinks = [{text: 'Home', href: '#'},{text: 'Flash Cards', href: '#'},{text: 'Quiz Park', href: '#'}, {text: 'Facts Checker', href: './contactus.html'}]; %>
                
                <% navigationLinks.forEach((lnk) => { %>
                    <a id="btnMenu" href="<%= lnk.href %>"><%= lnk.text %></a>
                <% }); %>
                
            </div>

            <h1 class="title">Welcome to KB-BANK</h1>
        </div>

        <script>
            document.querySelectorAll('#btnMenu').forEach(button => {
                button.addEventListener('click', function() {
                    console.log(button.textContent);
                });
            });
        </script>
    </body>
</html>
