<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Create a Book</title>
</head>

<body>
  <h1>Create a New Flash Card Data!</h1>

  <form action="/flashcards" method="POST">
    <label for="Categories">Choose a Category:</label>

    <select name="Categors" id="Categors">
      <option value="HTML">HTML</option>
      <option value="CSS">CSS</option>
      <option value="JavaScript">JavaScript</option>
      
    </select>

    <label for="name">Question:</label>
    <input type="text" name="question" id="question" />

    <label for="author">Answer:</label>
    <input type="text" name="answer" id="answer" />

    <button type="submit">Save Question</button>
  </form>
</body>

</html>